<tr>
	<td style="width: 200px;">
		<strong><%= h l control.created_at, :format => :short %></strong><br/>
		<%= h control.user.name %>
	</td>
	<td>
		<strong><%= h control.subject %></strong><br/>
		<%= textarea_display(h(control.body)) %><br/><br/>
		<%= link_to "Más detalles", control_path(control) %> |
		<%= link_to "Editar", edit_control_path(control)%>
	</td>
</tr>
	