<% title "Controles" %>

<table style="width:100%;">
  <tr>
    <th>Cliente</th>
    <th>Detalles</th>
  </tr>
  <% for control in @controls %>
    <tr>
      <td style="width: 200px;">
		<%= h control.customer ? control.customer.name : "" %><br/>
		<%= h control.server.name %><br/><br/>
		<%= h control.user.login %>, hace <%= distance_of_time_in_words(Time.now, control.created_at) %>
	  </td>
	  <td>
		<strong><%= h control.subject %></strong><br/>
		<%= textarea_display (h control.body) %><br/><br/>
		<%= link_to "Ver", control %> | <%= link_to "Editar", edit_control_path(control) %>
		<br/><br/>
	  </td>
    </tr>
	<%= render :partial => "spacer" %>
  <% end %>
</table>

<p><%= link_to "Nuevo Control", new_control_path %></p>
