<% title "Control" %>

<p>
  <strong>Servidor</strong><br/>
  <%=h @control.server.name %>
</p>
<p>
  <strong>Cliente</strong><br/>
  <%=h @control.customer.name %>
</p>
<p>
  <strong>Usuario</strong><br/>
  <%=h @control.user.name %>
</p>
<p>
  <strong>Archivo modificado</strong><br/>
  <%=h @control.file %>
</p>
<p>
  <strong>Archivo de respaldo</strong><br/>
  <%=h @control.backup_file %>
</p>
<p>
  <strong>Asunto</strong><br/>
  <%=h @control.subject %>
</p>
<p>
  <strong>Información:</strong><br/>
  <%= textarea_display(h @control.body) %>
</p>

<p>
  <%= link_to "Edit", edit_control_path(@control) %> |
  <%= link_to "Destroy", @control, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", controls_path %>
</p>
